 body {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

h1 {
	font-family: "calibri light";
	color: white;
}

#fnamn, #enamn, #epost, #passw, #passw2 {
    width: 450px;
    height: 35px;
    border: 2px solid #3FB272;
    border-radius: 10px; 
    background: white;
    text-align: center;
}

#skicka {
   background: #43BF7E;
   padding: 8px 16px;
   border-radius: 13px;
   color: white;
   font-size: 30px;
   font-family: "calibri";
   }

#box {
  	width: 1000px;
  	padding: 10px;
    border: 4px solid #3FB272;
    border-radius: 10px; 
    background: #43BF7E;
    text-align: center;
}

#form {
	font-family: "calibri light";
  font-size: 20px;
	color: white;
	text-align: center;

}